
#root {
  display: flex;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  border-bottom: 1px solid #999;
}

.buttons {
  display: flex;
}

.game-container {
  margin: 10px;
}

.grid-container {
  display: table;
  border-collapse: collapse;
}

.grid-square {
  border: 1px solid #ccc;
  display: table-cell;
  height: 20px;
  width: 20px;
}

.grid-row {
  display: table-row;
}


.red-bg     { background-color: #ea7474; }
.green-bg   { background-color: #6cc367; }
.blue-bg    { background-color: #5e8de6; }
.yellow-bg  { background-color: #ecec6f; }
.orange-bg  { background-color: #f1bb57; }
.purple-bg  { background-color: #bf92bf; }


.color-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.color-picker > label {
  margin-right: 5px;
}

.color-options {
  display: flex;
}

.color-option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #999;
  margin: 5px;
}

.color-option:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header {
  margin-bottom: 0;
}

.grid-container {
  margin: 10px;
  margin-top: 0;
}

.game-container {
  margin: 0;
}
